body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fff;
  color: #633;
}

header {
  background-color: white;
  padding: 20px;
}

.logo {
  display: inline-block;
  width: 150px;
  height: 60px;
  background-color: #ccc; /* Simula tu logo */
}

nav {
  float: right;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #c99d89;
  font-weight: bold;
}

.hero {
  background-color: #dcc0aa;
  height: 300px;
  text-align: center;
  padding-top: 100px;
}

.info {
  background-color: #dcdcdc;
  height: 150px;
  text-align: center;
  padding-top: 50px;
}

footer {
  background-color: white;
  text-align: center;
  padding: 20px;
  color: #c99d89;
}

.footer-links p {
  display: inline-block;
  margin: 0 10px;
}

.social-icons span {
  margin: 0 10px;
  font-size: 20px;
}

footer a {
  color: #c99d89;
  text-decoration: none;
  font-size: 14px;
}